
* {
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
    
    }

    html{
        font-size:62.5%;
        
    }

    body{
        font-size:1.6rem;
    }

.wrapper{
    max-width:1080px;
    margin:0 auto;
}




.jumbotron{
    background-image: url("../images/train.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size:cover;
    height:300px;
}

.opaque{
    height: 22rem;
    padding-top: 2em;
    opacity: 0.5;
    background: black;
    border-top: 3px solid #ccc;
    border-bottom: 3px solid #ccc;
    z-index:1;
    position: relative;
    bottom: 220px;
   
}

.insideJumbo{
    height:22rem;
    z-index:99999;
    border:2px solid white;
    color:white;
    position:relative;
    
}



.signIn{
    text-align: center;
    margin-left:377px;
    color:black;
    background-color:orangered;
    border:orangered;

}

.signIn:focus{
    outline:0;
}

.signOut{
    margin-left:461px;
    background-color:orangered;
    border:orangered;
    color:black;
}
h1, #current-time{
    font-family: 'Ultra', serif;
}

 h4{
    text-align:center;
    font-family: 'Ultra', serif;
}

.content{
    display:none;
}

/* .delete{
    margin-left:15px;
} */

th, td{
    text-align:center;
}

.panel-primary .panel-heading{
    background-color:orangered;
    
}

.panel-body{
    border:orangered;
}

#submit{
    background-color:orangered;
    border:orangered;
}